*{
    font-family: 'Montserrat';
}

body{
    background: linear-gradient(to bottom right, rgb(206, 206, 206)rgb(43, 43, 43)03);
}

.bg-primary-color{
    background-color: rgb(255, 255, 255);
}

.bg-secondary-color{
    background-color: #e0e0e0;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color{
    color: #050505;
}

.secondary-color{
    color: #7c7c7c;
}

.tertiarty-color{
    color: #77ffc0;
}

/*NAVBAR*/
#navbar{
    border-bottom: 1.5px solid #7a7a7a;
    background-color: #201b2c;
}

#navbar-items .nav-item a{
    color: #77ffc0;
}

#navbar a:hover{
    color: #7a7a7a;
}

#navbar a.active{
    border-bottom: 1px solid #050505;
}

#navbar span{
    color: #77ffc0;
}

.navbar-brand{
    display: flex;
}

.navbar-brand img{
    width: 40px;
}

.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 1em;
}

/* SLIDER */

#slider{
    margin-top: 6em;
    margin-bottom: 1em;
    visibility: hidden;
}

#slider .carousel-caption{
    bottom: 3em;
}

#slider .carousel-caption h5{
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
}

.btn{
    border-radius: 0;
}

#slider .btn{
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i, .carousel-control-next i{
    color: #111;
    font-size: 3em;
}

.carousel-indicators [data-bs-target]{
    background-color: #222;
    opacity: 0.8;
}

.carousel-indicators .active{
    background-color: #000
}

@media (min-width: 768px) {
    
    /* DEIXAR RESPONSIVO PARA PC*/

}

/* MINI BANNERS*/
#mini-banners{
    margin-bottom: 4em;
}

#mini-banners .card.text-center{
    padding: 2em 0.3;
    border-radius: 0;
}

#mini-banners i{
    font-size: 4em;
}

#mini-banners .card-title{
    margin-bottom: 1.5em;
}

#mini-banners .btn{
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
}

.col-12.col-md-10.offset-md-1{
    visibility: hidden;
}

@media (min-width: 768px) {

    /*DEIXAR RESPONSIVO PARA PC*/

}

/* DESTAQUES */
#featured-container{
    margin-top: 4em;
    margin-bottom: 4em;
    visibility: hidden;
}

.title{
    font-size: 1.75em;
    margin-top: 2em;
    position: relative;
}

.title:before{
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: "";
    position: absolute;
    bottom: 2em;
}

#featured-images{
    margin-top: 2em;
}

#featured-images .col-md-4{
    position: relative;
    cursor: pointer;
}

#featured-images .col-md-4:hover > .banner-content{
    opacity: 0.8;
}

#featured-images .banner-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
}

#featured-images .banner-content a:link{
    color: black;
    text-decoration: none;
    font-size: 35px;
    font-family: "OCR A";
}

#featured-images #jogueagora:hover{
    font-size: 40px;
    transition: 0.5s;
    color: black;
}

@media(min-width: 768px){
#featured-images .banner-content{
        opacity: 0;
}
#featured-images .col-md-4:hover > .banner-content{
    opacity: 0.6;
}

/*TEM QUE AJUSTAR AINDA*/

}

/* INFO */
#info-container{
    visibility: hidden;
}

#info-content{
    margin-bottom: 4em;
    padding: 4em 1em;
}

#info-numbers{
    margin: 1.5em 0;
}

#info-banner{
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
}

#info-numbers h3{
    font-size: 3em;
}

@media(min-width: 768px){
    #info-content{
        padding: 3.5em;
    }
}

/* PARTE DE CIMA DO FOOTER */
#footer{
    padding: 3em 2em;
}

#footer-top{
    margin-bottom: 2em;
}

#footer-top, #footer-top i{
    color: #fff;
}

#social-icons{
    text-align: right;
}

#social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i.bi.bi-twitter:hover{
    color: rgb(49, 106, 190);
}

#social-icons i.bi.bi-instagram:hover{
    color: rgb(166, 81, 199);
}

#social-icons i.bi.bi-youtube:hover{
    color: rgb(180, 57, 57);
}

#social-icons i.bi.bi-facebook:hover{
    color: rgb(16, 55, 114);
}

/*DETALHES DO FOOTER*/
#footer-details{
    margin-bottom: 3em;
}

#news-container, #contact-container, #links-container{
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details h4{
    color: #fff;
    margin-bottom: 1.5em;
}

#news-container input{
    border-radius: 0;
    border: none;
}

#links-container li{
    margin-bottom: 0.5em;
}

#links-container a{
    text-decoration: none;
}

#links-container a:hover{
    color: #fff;
}

/* PARTE DE BAIXO DO FOOTER */
#footer-bottom{
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}

@media(min-width: 768px){
    #news-container{
        padding-right: 2em;
    }
    #links-container{
        padding-left: 2em;
    }
    #contact-container{
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }
}